// components/ContactForm.scss

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #cccccc85;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  color: #333333c0;

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      font-size: 1rem;
      color: #333333c0;
      margin-bottom: 8px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px 20px;
      font-size: 1rem;
      border: 0px solid #333333c0;
      border-radius: 4px;
      background-color: #f9f9f9;
      color: #333333c0;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-color: #333333c0;
      }
    }

    .error {
      color: #d9534f;
      font-size: 0.875rem;
      margin-top: 5px;
    }
  }

  .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #333333c0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #333333;
      color: #ffffff;
    }
  }
}

// Responsive styling
@media (min-width: 768px) {
  .contact-form {
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  .contact-form {
    padding: 15px;

    .form-group {
      label {
        font-size: 0.9rem;
      }

      input,
      textarea {
        font-size: 0.9rem;
      }
    }

    .submit-btn {
      font-size: 0.9rem;
      padding: 10px;
    }
  }
}
